.headerWrap{
  .navbar{
    ul{
      list-style: none;
      display: flex;
      li{
        margin-left: 18px;

        .headBtn{
          border: none;
          background: none;
        }
      }
      .headLogo{
        background: url('./css/logo.png');
      }
    }   
  }
}